#terminal .terminal.xterm {
    height: 100%;
}
#terminal .xterm-viewport {
    height: 100% !important;
}

.xterm .xterm-viewport {
    width: initial !important; 
}

#terminal .terminal-container{
    /* this is important */
    overflow: hidden;
}

body {
    background-image: url("background.webp");
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 90%;
  height: 90%;
  
}

